services:
  nginx:
    build: 
      context: nginx
    image: web-nginx-docker
    container_name: web-nginx
    ports:
      - 80:80
    networks:
      - assignment-network

  week1:
    build: 
      context: week-1
    image: web-week1-docker
    container_name: web-week1
    networks:
      - assignment-network

  week4-py-cookie-based-session:
    build:
      context: week-4/py/cookie-based-session
    image: web-week4-py-cookie-based-session-docker
    container_name: web-week4-py-cookie-based-session
    networks:
      - assignment-network

networks:
  assignment-network:
