:root {
  --color-primary: #2c3e50;
  --color-secondary: #3498db;
}

body {
  background-color: #eeeeee;
  font-size: 125%;
  margin: 0;
}

.navbar {
  align-items: center;
  background-color: var(--color-primary);
  color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar__title {
  cursor: default;
  font-weight: bold;
  padding-left: 0.5em;
}

.navbar__toggler {
  cursor: pointer;
  display: none;
  height: 32px;
  width: 32px;
}

.navbar__toggler:hover {
  background-color: var(--color-secondary);
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__item {
  cursor: pointer;
  padding: 0.5em;
}

.nav__item:hover {
  background-color: var(--color-secondary);
}

.nav__link {
  color: #eeeeee;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .navbar__toggler {
    display: block;
  }

  .navbar__nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav__item {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0;
    padding-right: 0;
  }
}

main {
  display: flex;
  justify-content: center;
  padding-top: 2.25em;
}

@media screen and (max-width: 1200px) {
  main {
    padding-top: 32px;
  }
}

article {
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  article {
    width: 90%;
  }
}

section {
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media screen and (max-width: 1200px) {
  section {
    display: block;
  }
}

.section-main {
  flex-grow: 1;
}

.section-aside {
  width: 380px;
  padding-left: 1em;
}

@media screen and (max-width: 1200px) {
  .section-aside {
    width: 90%;
  }
}

.ratio-container {
  position: relative;
  padding-top: 66.67%;
}

.ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slice {
  width: 100%;
  height: 100%;
}
