:root {
  --color-primary: #2c3e50;
  --color-secondary: #3498db;
}

body {
  background-color: #eeeeee;
  font-size: 125%;
  margin: 0;
}

.navbar {
  align-items: center;
  background-color: var(--color-primary);
  color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.navbar__toggler {
  cursor: pointer;
  display: none;
  height: 32px;
  width: 32px;
}

.navbar__toggler:hover {
  background-color: var(--color-secondary);
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__item {
  cursor: pointer;
  padding: 0.5em;
}

.nav__item:hover {
  background-color: var(--color-secondary);
}

.nav__link {
  color: #eeeeee;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar__toggler {
    display: block;
  }

  .navbar__nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav__item {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0;
    padding-right: 0;
  }
}

.justify-content-between {
  justify-content: space-between;
}
