body {
  margin: 0;
  font-size: 125%;
}

/* Common */
.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.bg-primary {
  background-color: #2C3E50;
}

.bg-secondary {
  background-color: #CCDDEC;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.font-weight-bold {
  font-weight: bold;
}

.h-100 {
  height: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.p-2 {
  padding: 0.5em;
}

.m-2 {
  margin: 0.5em;
}

.ml-1 {
  margin-left: 0.25em;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.py-4 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.opacity-75 {
  opacity: 0.75;
}

.ratio-3x2 {
  position: relative;
  padding-top: 66.67%;
}

.ratio-1x1 {
  position: relative;
  padding-top: 100%;
}

.ratio-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

/* content and content__element */
.content {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.content__element {
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  .content__element {
    width: 90%;
  }
}

/* grid and grid--col */
.grid {
  column-gap: 1%;
  display: grid;
  margin-bottom: 1em;
  row-gap: 1em;
  width: 100%;
}

.grid--col-4-2-1 {
  grid-template-columns: repeat(4, 1fr);
}

.grid--col-2-2-1 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1200px) {
  .grid {
    column-gap: 3%;
  }

  .grid--col-4-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--col-2-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid--col-4-2-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid--col-2-2-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* star */
.star {
  background-size: contain;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.star--active {
  background-image: url("../icon/active_star.svg");
}

.star--inactive {
  background-image: url("../icon/inactive_star.svg");
}