<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Flask Practice</title>
</head>
<body>
  <header class="banner">
    歡迎光臨，請輸入帳號密碼
  </header>
  <main>
    <form class="center-container" action="{{ url_for('signup') }}" method="post">
      <div class="title m-1">註冊帳號</div>
      <div class="input-group">
        <span class="input-group__label">姓名</span>
        <input name="name" required>
      </div>
      <div class="input-group">
        <span class="input-group__label">帳號</span>
        <input name="username" 
               pattern="[A-Za-z\d.]{4,30}"
               required
               oninput="handleUsernameValidation(this)"
        >
      </div>
      <div class="input-group">
        <span class="input-group__label">密碼</span>
        <input name="password" 
               type="password"
               pattern="(?=.*[A-Za-z])[a-zA-Z\d]{4,100}"
               required
               oninput="handlePasswordValidation(this)"
        >
      </div>
      <button class="m-1">註冊</button>
    </form>
    <br />
    <form class="center-container" action="{{ url_for('signin') }}" method="post">
      <div class="title m-1">登入系統</div>
      <div class="input-group">
        <span class="input-group__label">帳號</span>
        <input name="username" 
               pattern="[A-Za-z\d.]{4,30}"
               required
               oninput="handleUsernameValidation(this)"
        >
      </div>
      <div class="input-group">
        <span class="input-group__label">密碼</span>
        <input name="password" 
               type="password"
               pattern="(?=.*[A-Za-z])[a-zA-Z\d]{4,100}"
               required
               oninput="handlePasswordValidation(this)"
        >
      </div>
      <button class="m-1">登入</button>
    </form>
  </main>
</body>
</html>
<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
