<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Flask Practice</title>
</head>
<body>
  <header class="banner">
    歡迎光臨，這是會員頁
  </header>
  <main>
    <div class="center-container">
      <div class="d-flex">
        <div>很高興見到您，</div>
        <div id="name">{{name}}</div>
      </div>
      <div class="m-1">
        <a href="{{ url_for('signout') }}">登出系統</a>
      </div>
    </div>
    <hr />
    <div class="center-container">
      <div class="m-1">查詢會員姓名</div>
        <div class="input-group">
          <input id="query_member_name_input" name="content">
          <button onclick="handleQueryMemberName()" class="ml-1">查詢</button>
        </div>
        <span id="query_member_name_output"></span>
      </div>
    </div>
    <hr />
    <div class="center-container">
      <div class="m-1">更新我的姓名</div>
        <div class="input-group">
          <input id="update_name_input" name="content" placeholder="請輸入新的姓名">
          <button onclick="handleUpdateName()" class="ml-1">更新</button>
        </div>
        <span id="update_name_output"></span>
      </div>
    </div>
    <hr />
    <div class="center-container">
      <div class="m-1">來試試看留言吧</div>
      <form class="center-container"  action="{{ url_for('message') }}" method="post">
        <div class="input-group">
          <span class="input-group__label">內容</span>
          <input name="content">
        </div>
        <button class="m-1">送出</button>
      </form>
    </div>
    <hr />
    <div class="center-container">
      {% for message in messages %}
        <span>{{ message }}</span>
      {% endfor %}
    </div>
  </main>
</body>
</html>
<script src="{{ url_for('static', filename='js/member.js') }}"></script>
