body {
  margin: 0;
  font-size: 125%;
}

/* Common */
.align-items-center {
  align-items: center;
}

.bg-primary {
  background-color: #2C3E50;
}

.bg-secondary {
  background-color: #CCDDEC;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.font-weight-bold {
  font-weight: bold;
}

.h-100 {
  height: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.p-2 {
  padding: 0.5em;
}

.ml-1 {
  margin-left: 0.25em;
}

.py-4 {
  padding-bottom: 1em;
}

.ratio-3x2 {
  position: relative;
  padding-top: 66.67%;
}

.ratio-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

/* content container and element */
.content-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.content-element {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  .content-element {
    width: 90%;
  }
}

/* grid-container and content */
.grid-container-4-2-1 {
  column-gap: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1em;
  row-gap: 1em;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .grid-container-4-2-1 {
    column-gap: 3%;
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (max-width: 600px) {
  .grid-container-4-2-1 {
    grid-template-columns: repeat(1, 1fr);
  }  
}

.grid-container-2-2-1 {
  column-gap: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1em;
  row-gap: 1em;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .grid-container-2-2-1 {
    column-gap: 3%;
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (max-width: 600px) {
  .grid-container-2-2-1 {
    grid-template-columns: repeat(1, 1fr);
  }  
}